{% extends "layout.html" %}

{% block main_content %}

{% for animal in animals %}
<hr>
<br>
    <div class="row ">
            <div class="container col-11 col-md-5 col-lg-5 mt-3">
                <img class="img-fluid rounded" src="{{ animal.img }}" alt="">
                <br>
                <h4 class="pt-3"><strong>Common Name:</strong> {{ animal.common_name }}</h4>
                <h5><strong>Scientific name:</strong> {{ animal.scientific_name }}</h5>
                <h5><strong>Size: </strong>{{ animal.size }}</h5>
                <h5><strong>Weight: </strong>{{ animal.weight }}</h5>
                <h5><strong>Average Lifespan: </strong>{{ animal.avg_lifespan }}</h5>
                <h5><strong>Diet: </strong>{{ animal.diet }}</h5>
                <h5><strong>Section: </strong>{{ animal.section }}</h5>
                <h5><strong>Source: </strong>{{ animal.source }}</h5>
            </div>
            <div class="container col-11 col-md-6 col-lg-5 mt-3 text-center">
                <p><strong>About:</strong><br>{{ animal.about }}</p>
                <br>
                <p><strong>Behavior:</strong><br> {{ animal.behavior }}</p>
                <br>
                <p><strong>Facts:</strong><br> {{ animal.facts }}</p>
                <hr>
                <a class="btn btn-outline-info" href="{{url_for('edit_animal', animal_id=animal._id)}}">Update Animal Data</a>
            </div>
    </div>
<br>
{% endfor %}
{% endblock main_content %}