{% extends "layout.html" %}

{% block main_content %}

<hr>
<h3 class="text-center pb-3">Database Administration</h3>
<hr>
<div class="container pt-3 pb-5">
 
<h5>Database Status</h5>
<p>Online</p>
<p>No. of Animals in DB: </p>
</div>

<div class="container mx-auto">
        <div class="row">
          <div class="db-options col-10 col-md-6 col-lg-6 mx-auto">
            <a href="{{ url_for('new_animal') }}">
              <figure class="db-options-container">
                <img class="product-img img-fluid" alt="" src="https://cdn.pixabay.com/photo/2014/09/17/21/56/young-animal-450149_960_720.jpg">
                <figcaption class="text-overlay lead">Add New Animal to Database</figcaption>
              </figure>
            </a>
          </div>
          <div class="db-options col-10 col-md-6 col-lg-6 mx-auto">
            <a href="{{ url_for('animals') }}">
              <figure class="db-options-container">
                <img class="product-img img-fluid" alt="" src="https://cdn.pixabay.com/photo/2014/11/21/15/39/grey-crowned-crane-540657_960_720.jpg">
                <figcaption class="text-overlay lead">Update or Remove Existing Animal</figcaption>
              </figure>
            </a>
          </div> 
        </div>
      </div>
{% endblock main_content %}